extends layout
block content
	section(class='hbInfo')
		img(src=api.attributes.avatar.original)
		h1= api.attributes.name
		-function s2t(s) {date = new Date(s);return date.getUTCMonth() + ' months, ' + date.getUTCDay() + ' days, ' + date.getUTCHours() + ' hours, and  ' + date.getUTCMinutes() + ' minutes.';}
		-var totalAnime2 = s2t(api.attributes.lifeSpentOnAnime)
		p= 'Watched ' + totalAnime + ' of anime'
	section(class='panelContainer')
		//-Testing Cases with Pug
		- var friends = api.attributes.followersCount
			case friends
				when 0
					p you have no friends
				when 1: p you have a friend
				default: p you have #{friends} friends
			-var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
			each item in list
				li= item
