extends layout
block content
	section(class='hbInfo')
		img(src=api.attributes.avatar.original, style="width:200px")
		h1= api.attributes.name
		p= 'Watched ' + totalAnime + ' of anime'
	section(class='panelContainer')
		//-Testing Cases with Pug
		- var friends = api.attributes.followersCount
			case friends
				when 0
					p you have no friends
				when 1: p you have a friend
				default: p you have #{friends} friends
			-var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
			each item in list
				li= item
